.Blog-container {
  padding: .5em;
}

.Blog-container h2 {
  margin-left: .3em;
}

.list-item img {
  float: right;
  margin-left: .5em;
  width: 60%;
  border-radius: 1em;
  border: 1px solid white;
}

.list-item p {
  text-align: justify;
}

.list-container {
  gap: 1em;
  
}

.list-item {
  padding: .5em;
  border-bottom: 1px solid white;
  gap: .5em;
  display: flex;
}

