.Navbar { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  flex-wrap: wrap;
}

.Navbar img {
  height: 120px;
  margin: 0;
  padding: 0;
}

.Navbar ul a {
  margin: 0;
  text-decoration: none;
  color: white;
  border-radius: 2px;
  padding: .2em;
  font-size: 24px;
}

.social-media-contacts {
  display: flex;
  list-style-type: none;
  gap: 2em;
}

.social-media-contacts img:hover {
  opacity: 0.5;
  transition: all .2s;
}

.social-media-contacts img {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
}

.active {
  opacity: .5;
}


.navigation-links {
  transition: all .2s;
  list-style-type: none;
  display: flex;
  gap: 2em;
}

